<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>请假申请管理</title>
    <meta name="description" content="请假管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/public/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../js/amazeui.min.css"/>
    <link rel="stylesheet" href="../js/admin.css">
    <link rel="stylesheet" href="../js/app.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body data-type="generalComponents">
<div class="hrms_container">
    <!-- 导航条 -->
    <div class="hrms_brand_nav">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#hrms-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">XXX公司LOGO</a>
                </div>

                <div class="collapse navbar-collapse" id="hrms-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="hrms_main">公司介绍 </a></li>
                        <li><a href="hrms_employee">人力资源部</a></li>
                        <li><a href="hrms_apply">请假申请</a></li>
                        <li><a href="#">报销申请</a></li>
                        <li><a href="#">出勤记录</a></li>
                    </ul>

                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="站内搜索">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" th:text="账号管理_+${session.user}"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu nav nav-pills nav-stacked">
                                <li class="active"><a th:href="@{/hrms_userUpdate}"><span
                                        class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改信息</a></li>
                                <li><a th:href="@{/hrms_userUpdatePhone}"><span class="glyphicon glyphicon-user"
                                                                                aria-hidden="true"></span> 头像更换</a></li>
                                <li class="hrms_logout"><a href="logout"><span class="glyphicon glyphicon-off"
                                                                               aria-hidden="true"></span> 账号退出</a></li>
                            </ul>
                        </li>
                    </ul><!-- /.nav navbar-nav navbar-right -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- 左侧栏 -->
        <div class="panel-group col-sm-2" id="hrms_sidebar_left" role="tablist" aria-multiselectable="true">
            <ul class="nav nav-pills nav-stacked emp_sidebar">
                <li role="presentation" class="active">
                    <a href="#" data-toggle="collapse" data-target="#collapse_emp">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">请假申请</span>
                    </a>
                    <ul class="nav nav-pills nav-stacked" id="collapse_emp">
                        <li role="presentation"><a href="hrms_apply">请假申请</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked dept_sidebar">
                <li role="presentation" class="active">
                    <a href="#" data-toggle="collapse" data-target="#collapse_dept">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true">请假审核</span>
                    </a>
                    <ul class="nav nav-pills nav-stacked" id="collapse_dept">
                        <li role="presentation"><a href="hrms_applyIndex">请假审核</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.panel-group，#hrms_sidebar_left -->
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 假条审核
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hrms_body" style="position:relative; top:-15px;">
                    <div class="tpl-block">
                        <div class="am-g">
                            <div class="am-u-sm-12 am-u-md-3">
                                <div class="am-form-group" style="float: inherit">
                                </div>

                                <div class="am-form-group" style="float: inherit">
                                </div>
                            </div>
                            <div class="am-u-sm-12 " style="width: 25%">
                            <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field" placeholder="请输入信息进行查找" id="leave_like">
                            <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search leave_like_btn" type="button"></button>
                            </span>
                            </div>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-12">
                                <form class="am-form">
                                    <table class="am-table am-table-striped am-table-hover table-main" id="tbodyId">
                                        <thead>
                                        <tr>
                                            <th class="table-title"><a href="selAllSortById">编号</a></th>
                                            <th class="table-title">工号</th>
                                            <th class="table-type">姓名</th>
                                            <th class="table-author am-hide-sm-only">部门</th>
                                            <th class="table-author am-hide-sm-only">联系方式</th>
                                            <th class="table-date am-hide-sm-only">开始日期</th>
                                            <th class="table-date am-hide-sm-only">结束日期</th>
                                            <th class="table-date am-hide-sm-only">操作</th>
                                            <th class="table-date am-hide-sm-only"><a href="selAllSortByStart">状态</a></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="leave : ${leave}">
                                            <td class="am-hide-sm-only" th:text="${leave.id}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.leave_id}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.leave_name}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.dept2.dept_name}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.leave_phone}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.leave_start}"></td>
                                            <td class="am-hide-sm-only" th:text="${leave.leave_end}"></td>
                                            <td class="am-hide-sm-only"><a class="label label-sm "  style="background-color: #01AAED" th:href="@{hrms_applyShow(id=${leave.id})}">查看详情</a>
                                            </td>
                                            <td class="am-hide-sm-only">
                                                <span th:if="${leave.examine.examine_id} == '0'">
                                                <a class="label label-sm " style="background-color: #ed6b75" th:text="${leave.examine.examine_msg}"></a>
                                                </span>
                                                <span th:if="${leave.examine.examine_id} == '1'">
                                                <a class="label label-sm " style="background-color:cornflowerblue" th:text="${leave.examine.examine_msg}"></a>
                                                </span>
                                                <span th:if="${leave.examine.examine_id} == '2'">
                                                <a class="label label-sm " style="background-color:darkseagreen" th:text="${leave.examine.examine_msg}"></a>
                                                </span>
                                                <span th:if="${leave.examine.examine_id} == '0'"><a role="button" style="text-decoration: none; width:100px; height:50px; border:#000;"  class="leave_upd_btn" th:href="@{updLeaveStart(id=${leave.id})}">&nbsp;&nbsp;点击审核</a></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tpl-alert"></div>
                </div>
            </div>
        </div>
        <script src="../js/jquery-3.3.1.min.js"></script>
        <script src="../js/app.js"></script>
        <script>
            $(".leave_upd_btn").click(function () {
                var str = $(this).attr("href");
                var strs= new Array();
                strs=str.split("?");
                if (confirm("确认审核该假条吗？")) {
                    $.post("updLeaveStart?" + strs[1], null, function (result) {
                        if (result.code == 100) {
                            alert("审核成功！");
                            location.reload();
                        } else {
                            alert("审核失败！");
                        }
                    });
                }
                return false;
            });
            $(".leave_like_btn").click(function () {
                var leave_like = document.getElementById("leave_like").value;
                if(isNaN(leave_like)){
                    alert("selAllLikeByName")
                    $.post("selAllLikeByName?leave_name=" + leave_like, null, function () {
                        //window.location = "hrms_applyIndex2.html";
                    });
                }else{
                    alert("selAllLikeById")
                    $.post("selAllLikeById?id=" + leave_like, null, function () {
                    });
                }

            });
        </script>
    </div>
</div>
</body>

</html>